@CHARSET "UTF-8";

body			{ background: #f8f8f8; }

p				{ font-size: 1.3em; }

#adminmenu ul	{ color: white; background: #222; margin: 0px; height: 32px; font-size: 1.4em; }
#adminmenu li	{ list-style: none; float: left; display: block; line-height: 32px; vertical-align: middle; margin-right: 10px; }

#messagebar		{ position: absolute; width: 500px; left: 50%; margin-left: -250px; top: 20%;}
#message		{ background: #222; padding: 15px; color: white; font-weight: bold; margin-left: auto; margin-right: auto;
					font-size: 13px; text-align: center; line-height: 1.3em; }

#header .logo	{ background: url("../images/ui_logo_admin.gif"); }

#login	 		{ width: 300px; padding-top: 170px; text-align: left; position: absolute; top: 15%; left: 50%; margin-left: -150px; background: url("../images/ui_padlock.jpg") no-repeat; }
#login p 		{ text-align: left; font-size: 12px; }

#login input	{ width: 100%; border: 1px solid #666; text-align: center; font-size: 16px; font-weigt: bold; font-family: Corbel, Tahoma, sans-serif;}

.warning		{ width: 100%; border: 4px solid #700; margin-bottom: 20px; }
.warning p 		{ margin: 10px; font-size: 13px; color: #700; text-align: center; }

.success		{ width: 100%; border: 4px solid #070; margin-bottom: 20px; }
.success p 		{ margin: 10px; font-size: 13px; color: #070; text-align: center; }

#userinfo		{ position: absolute; top: 0; right: 20px; height: 32px; margin-left: 700px; width: 260px; }
#userinfo p		{ color: white; font-size: 14px; line-height: 32px; text-align: right; padding: 0px; margin: 0px; }

#midsection		{ margin-top: 0px; }


.toolbar					{ margin: 0px 0px 10px 0px; padding: 10px; display: block; clear: both; height: 27px; border-bottom: 1px solid #ddd; background: #eee; }
.toolbar ul					{ padding: 0px; margin: 0px 10px; }
.toolbar li					{ float: left; display: block; margin-right: 5px; list-style: none; background: #fff; }
.toolbar li.separator		{ border-left: 1px solid #ddd; height: 27px; margin: 0px 10px 0px 5px;  }
.toolbar li a				{ display: block; height: 15px; border: 1px solid #ddd; padding: 6px 10px 6px 24px; font-size: 13px; background: #fff; line-height: 13px; }
.toolbar li a:hover			{ border-color: #999; color: #4d83bb; }

.toolbar li.newarticle 	a	{ background: url("../images/icon_notebook_plus.png") no-repeat 3px center; }
.toolbar li.editarticle	a	{ background: url("../images/icon_notebook_pencil.png") no-repeat 3px center; }
.toolbar li.delarticle	a	{ background: url("../images/icon_notebook_minus.png") no-repeat 3px center; }
.toolbar li.delfile	a		{ background: url("../images/icon_cross.png") no-repeat 3px center; }
.toolbar li.pubarticle	a	{ background: url("../images/icon_light_bulb.png") no-repeat 3px center; }
.toolbar li.unpubarticle a	{ background: url("../images/icon_light_bulb_off.png") no-repeat 3px center; }
.toolbar li.save a			{ background: url("../images/icon_notebook_save.png") no-repeat 3px center; }
.toolbar li.download a		{ background: url("../images/icon_arrow_down.png") no-repeat 3px center; }
.toolbar li.upload a		{ background: url("../images/icon_arrow_up.png") no-repeat 3px center; }
.toolbar li.folder a		{ background: url("../images/icon_folder.png") no-repeat 3px center; }
.toolbar li.archive a		{ background: url("../images/icon_archive.png") no-repeat 3px center; }
.toolbar li.extract a		{ background: url("../images/icon_extract.png") no-repeat 3px center; }
.toolbar li.compress a		{ background: url("../images/icon_compress.png") no-repeat 3px center; }
.toolbar li.resize a		{ background: url("../images/icon_image.png") no-repeat 3px center; }

table.list		{ font-size: 13px; border-top: 3px solid #ddd; border-left: 1px solid #ddd; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; margin-top: 20px; clear: both; }
table.list th	{ border-bottom: 3px solid #ddd; padding: 6px 2px; font-weight: bold; color: black; background: #eee; }
table.list td	{ border-bottom: 1px solid #ddd; padding: 0px; vertical-align: middle; height: 28px; vertical-align: middle;}
table.list tr.hilite { background: #eee; }
table.list tr:hover, table.list tr.hilite:hover	{ background: #e4e4e4;  }

a.bigbutton			{ display: block; border: 1px solid #ddd; padding: 16px 10px 16px 24px; font-size: 16px; background: #fff; }
a.bigbutton:hover	{ border-color: #999; color: #4d83bb; }

.editor input[type="text"]	{ width: 688px; border: 1px solid #ddd; padding: 3px 5px 3px 5px; }
.editor input.big[type="text"]	{ font-size: 16px; }
select		{ width: 100%; border: 1px solid #ddd; background: #fff; padding: 3px 5px; height: 25px; }
#slugbutton	{ border: 1px solid #ddd; border-right: none; padding: 4px 0px 4px 5px; height: 16px; display: block; float: left; }
#slug		{ border-left: none; width: 672px; padding: 3px 0px 3px 5px;  height: 18px; line-height: 18px;}

#lock		{ vertical-align: text-top; }

h2			{ padding: 0 0 3px 0; border-bottom: 1px solid #ddd; margin-bottom: 10px; line-height: 16px; font-size: 16px; font-weight: bold; }
h3			{ font-weight: bold; padding: 0 0 2px 0; margin: 0 0 4px 0;  border-bottom: 1px solid #ddd; }

h2 select	{ width: 300px; font: inherit; vertical-align: middle; }

label		{ cursor: pointer; }

.filelist	{ width: 100%; height: 300px; border: none; overflow: scroll; }

textarea	{ border: 1px solid #ddd; font-family: inherit; font-size: 12px;  }

.small { font-size: 12px; line-height: 14px; color: #999; }

.red { color: red; }