@CHARSET "UTF-8";

#header .logo	{ background: url("../images/ui_logo_admin.gif"); }

#login	 		{ width: 100%; text-align: left; }
#login p 		{ text-align: left; font-size: 1.2em; }

#login input	{ width: 100%; border: 1px solid #666; text-align: center; font-size: 1.6em; font-weigt: bold; font-family: Corbel, Tahoma, sans-serif;}

.warning		{ width: 100%; border: 4px solid #700; margin-bottom: 20px; }
.warning p 		{ margin: 10px; font-size: 1.3em; color: #700; text-align: center; }

.success		{ width: 100%; border: 4px solid #070; margin-bottom: 20px; }
.success p 		{ margin: 10px; font-size: 1.3em; color: #070; text-align: center; }

#userinfo		{ position: absolute; top: 156px; right: 50%; margin-right: -480px; }
#userinfo p		{ color: white; font-size: 1.3em; }

.toolbar		{ margin: 0px; padding: 0px; display: block; clear: both; height: 27px; }
.toolbar li		{ float: left; display: block; margin-right: 5px; list-style: none;  }
.toolbar li.separator		{ border-left: 1px solid #ddd; height: 27px; margin: 0px 10px 0px 5px;  }
.toolbar li a	{ display: block; height: 15px; border: 1px solid #ddd; padding: 6px 10px 6px 24px; font-size: 1.3em; background-color: #fff; }
.toolbar li a:hover			{ border-color: #999; color: #4d83bb; }

.toolbar li.newarticle 	a	{ background: url("../images/icon_notebook_plus.png") no-repeat 3px center; }
.toolbar li.editarticle	a	{ background: url("../images/icon_notebook_pencil.png") no-repeat 3px center; }
.toolbar li.delarticle	a	{ background: url("../images/icon_notebook_minus.png") no-repeat 3px center; }
.toolbar li.pubarticle	a	{ background: url("../images/icon_light_bulb.png") no-repeat 3px center; }
.toolbar li.unpubarticle a	{ background: url("../images/icon_light_bulb_off.png") no-repeat 3px center; }

table.list		{ font-size: 1.3em; border-top: 3px solid #ddd; border-left: 1px solid #ddd; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; margin-top: 20px; clear: both; }
table.list th	{ border-bottom: 3px solid #ddd; padding: 6px 2px; font-weight: bold; color: black; background: #eee; }
table.list td	{ border-bottom: 1px solid #ddd; padding: 4px 2px; vertical-align: middle; }
table.list tr.hilite { background: #eee; }
table.list tr:hover, table.list tr.hilite:hover	{ background: #e4e4e4;  }
