@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}




/* 960 Grid System */

.container_12,.container_16{margin-left:auto;margin-right:auto;width:960px}.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16{display:inline;float:left;margin-left:10px;margin-right:10px}.container_12 .grid_3,.container_16 .grid_4{width:220px}.container_12 .grid_6,.container_16 .grid_8{width:460px}.container_12 .grid_9,.container_16 .grid_12{width:700px}.container_12 .grid_12,.container_16 .grid_16{width:940px}.alpha{margin-left:0}.omega{margin-right:0}.container_12 .grid_1{width:60px}.container_12 .grid_2{width:140px}.container_12 .grid_4{width:300px}.container_12 .grid_5{width:380px}.container_12 .grid_7{width:540px}.container_12 .grid_8{width:620px}.container_12 .grid_10{width:780px}.container_12 .grid_11{width:860px}.container_16 .grid_1{width:40px}.container_16 .grid_2{width:100px}.container_16 .grid_3{width:160px}.container_16 .grid_5{width:280px}.container_16 .grid_6{width:340px}.container_16 .grid_7{width:400px}.container_16 .grid_9{width:520px}.container_16 .grid_10{width:580px}.container_16 .grid_11{width:640px}.container_16 .grid_13{width:760px}.container_16 .grid_14{width:820px}.container_16 .grid_15{width:880px}.container_12 .prefix_3,.container_16 .prefix_4{padding-left:240px}.container_12 .prefix_6,.container_16 .prefix_8{padding-left:480px}.container_12 .prefix_9,.container_16 .prefix_12{padding-left:720px}.container_12 .prefix_1{padding-left:80px}.container_12 .prefix_2{padding-left:160px}.container_12 .prefix_4{padding-left:320px}.container_12 .prefix_5{padding-left:400px}.container_12 .prefix_7{padding-left:560px}.container_12 .prefix_8{padding-left:640px}.container_12 .prefix_10{padding-left:800px}.container_12 .prefix_11{padding-left:880px}.container_16 .prefix_1{padding-left:60px}.container_16 .prefix_2{padding-left:120px}.container_16 .prefix_3{padding-left:180px}.container_16 .prefix_5{padding-left:300px}.container_16 .prefix_6{padding-left:360px}.container_16 .prefix_7{padding-left:420px}.container_16 .prefix_9{padding-left:540px}.container_16 .prefix_10{padding-left:600px}.container_16 .prefix_11{padding-left:660px}.container_16 .prefix_13{padding-left:780px}.container_16 .prefix_14{padding-left:840px}.container_16 .prefix_15{padding-left:900px}.container_12 .suffix_3,.container_16 .suffix_4{padding-right:240px}.container_12 .suffix_6,.container_16 .suffix_8{padding-right:480px}.container_12 .suffix_9,.container_16 .suffix_12{padding-right:720px}.container_12 .suffix_1{padding-right:80px}.container_12 .suffix_2{padding-right:160px}.container_12 .suffix_4{padding-right:320px}.container_12 .suffix_5{padding-right:400px}.container_12 .suffix_7{padding-right:560px}.container_12 .suffix_8{padding-right:640px}.container_12 .suffix_10{padding-right:800px}.container_12 .suffix_11{padding-right:880px}.container_16 .suffix_1{padding-right:60px}.container_16 .suffix_2{padding-right:120px}.container_16 .suffix_3{padding-right:180px}.container_16 .suffix_5{padding-right:300px}.container_16 .suffix_6{padding-right:360px}.container_16 .suffix_7{padding-right:420px}.container_16 .suffix_9{padding-right:540px}.container_16 .suffix_10{padding-right:600px}.container_16 .suffix_11{padding-right:660px}.container_16 .suffix_13{padding-right:780px}.container_16 .suffix_14{padding-right:840px}.container_16 .suffix_15{padding-right:900px}html body div.clear,html body span.clear{background:none;border:0;clear:both;display:block;float:none;font-size:0;list-style:none;margin:0;padding:0;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:'.';display:block;visibility:hidden;height:0}.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}




/* Custom styles */

@charset "utf-8";
/* CSS Document **************************/

body 			{ font-family: 'Lucida Sans Unicode', Helvetica, "Trebuchet MS", Tahoma, Arial, sans-serif; font-size: 62.5%; padding: 0; }

ul, ol, dl, h1, h2, h3, h4, h5, h6, td, th, caption, pre, p, blockquote, input, textarea 
				{ line-height: 1.6em; font-weight: normal; color: #6C6C6C; text-align: left; }

h1, h2, h3, 
h4, h5, h6      { margin: 0; font-family: 'Helvetica Neue', Helvetica, "Trebuchet MS", Tahoma, Arial, sans-serif; font-weight: bold; color: #555; }
h1              { font-size: 2.0em; padding-top: 10px; padding-bottom: 4px; text-transform: uppercase; }
h2              { font-size: 1.8em; padding-top: 4px; padding-bottom: 4px; text-transform: uppercase; }
h3              { font-size: 1.6em; padding-top: 4px; padding-bottom: 4px; }
h4              { font-size: 1.4em; padding-top: 4px; padding-bottom: 4px; }
h5              { font-size: 1.2em; padding-top: 4px; padding-bottom: 4px; }
h6              { font-size: 1.0em; padding-top: 4px; padding-bottom: 4px; }

a               { color: #4d83bb; text-decoration: none; }
a:hover         { color: #F70; }
em              { font-style: italic; }
p               { margin: 0 0 18px 0; font-size: 1.3em;  }
small           { font-size: 80%; }
strong          { font-weight: bold; }

ul, ol          { margin-top: 18px; margin-bottom: 18px; padding-left: 16px; list-style-position: outside; list-style-type: disc; font-size: 1.4em; }
ol              { list-style-type: decimal; padding-left: 17px; }
ul				{ list-style: square; }    
dl              { margin-top: 18px; margin-bottom: 18px; font-size: 1.4em; }
dl dt           { font-weight: bold; font-size: 1.4em; }

blockquote      { border-left: 6px solid #ddd; margin-top: 18px; margin-bottom: 18px; padding-left: 17px; font-style: italic; font-size: 1.4em; }
blockquote *    { color: #666; }

textarea        { resize: none; } /* Prevents that little handle from showing up in Safari. */

sup             { font-size: 70%; vertical-align: super; }

.center			{ text-align: center; }

/* Matej Udovičić **************************/

body			{ margin: 0px; padding: 0px; }

link, script	{ display: none; margin: 0; padding: 0; position: absolute; }

.clear			{ clear: both; }

#header 		{ width: 100%; height: 135px; }
#header h1 		{ display: none; }
#header .logo	{ background: url("../images/ui_logo.gif"); width: 382px; height: 105px; position: absolute;
				  left: 50%; margin-left: -460px; top: 20px; }
				  
#midsection 	{ margin-top: 20px; }

p				{ text-align: justify; }

#menu			{ background: url("../images/ui_menu_background.jpg"); display: block; height: 200px;  }
#menu ul		{  }
#menu li		{ list-style: none; }
#topmenu		{ margin-top: 0px; width: 960px; left: 50%; position: relative; margin-left: -480px; padding-left: 0px; margin-bottom: 0px; }
.topitem		{ display: block; float: left; margin-right: 30px;}
.topitem a		{ color: #fff; font: normal 1.0em/1.3em 'Helvetica Neue', Helvetica, "Trebuchet MS", Tahoma, Arial, sans-serif; text-transform: uppercase;
				  display: block; }
#menu ul li	a:hover	{ color: #f70; }
.li-small		{ width: 110px;}
.li-medium		{ width: 140px; }
.li-big			{ width: 150px;}

#topmenu		{ padding-top: 10px; height: 36px; line-height: 20px; padding: 0px;}
#topmenu li		{ margin-top: 8px; }

ul.submenu		{ padding: 0px; margin-top: 4px; }
ul.submenu li	{ clear: both; background: url("../images/ui_menu_arrow.gif") no-repeat left center; padding-left: 20px;  }
ul.submenu li a {  }

.submenu		{ position: absolute; left: 50%; margin-left: -480px; width: 960px;}
.submenu p		{ color: white; font-size: 13px; }
.submenu		{ font-size: 13px; line-height: 16px; }
.submenu li a	{ color: white; font-size: 13px; line-height: 22px; text-shadow: 0.1em 0.1em #333; display: block; }
.submenu li a strong	{ font-family: "Tahoma"; text-transform: uppercase; }

.introtext		{ width: 640px; float: left; }
.polaroids		{ width: 300px; height: 164px; background: url("../images/pol_background.jpg"); position: absolute; top: 0px; right: 0px; }
#polaroid1		{ position: relative; top: 0px; left: 0px; width:208px; height: 164px; position: absolute; top: 0px; left: 37px; }
#polaroid2		{ position: relative; top: 0px; left: 0px; width:208px; height: 164px; position: absolute; top: 0px; left: 37px; }

.sidebar		{  }
.sidebar p		{ text-align: left; font-size: 1.2em;  }
.sidebar h2		{ text-transform: none; font-size: 1.7em; }

.sidebar ul.menu {  border-top: 1px solid #ddd; margin-top: 45px; }
.sidebar .menu	{ list-style: none; padding: 0; font-weight: bold; height: auto; }
.sidebar .menu li a	{ display: block; float: left; width: 100%;  padding: 8px 0px 8px 0px; margin: 0px; font-size: 12px; line-height: 12px; border-bottom: 1px solid #ddd;}
.sidebar .menu li a:hover { color: black; }

.blue			{ background: url("../images/ui_blue_background.jpg"); color: white; }
.orange			{ background: url("../images/ui_orange_background.jpg"); color: white; margin: 0px; padding: 16px 0px; }
.orange p		{ font-size: 1.3em; line-height: 1.4em; }
.orange a		{ color: white; text-decoration: underline; }
.orange a:hover	{ color: black; text-decoration: underline; }
.orange h2		{ color: white; font-family: Tahoma, Arial, sans-serif; text-shadow: 0.1em 0.1em #333;
				  font-size: 1.3em; font-weight: bold; text-align: center; text-transform: uppercase; margin: 0px;
				  line-height: auto; padding: 0px; letter-spacing: 1px;  }
.orange p				{ color: white; }
.orange form div 		{ margin-top: 15px; vertical-align: center; text-align: center;}
.orange label			{ text-shadow: 0.1em 0.1em #333; font-size: 1.3em; font-weight: bold; text-align: right; text-transform: uppercase; }
.orange input.text		{ margin-top: 5px; width: 90%; }
.orange input			{ color: black; font-weight: bold; text-align: center; }
.orange input.button	{ text-align: right; border: 0px; background-color: transparent; color: white; font-family: Tahoma, Arial, sans-serif; text-shadow: 0.1em 0.1em #333;
				  			font-size: 1.3em; font-weight: bold; text-align: center; text-transform: uppercase; cursor: pointer; }


.border-top		{ height: 15px; background-image: url("../images/ui_border_top.jpg");  }
.border-bottom	{ height: 15px; background-image: url("../images/ui_border_bottom.jpg"); }

#programi 		{ border-top: 2px solid white;  }
#programi p		{ line-height: 1.3em; text-align: justify; }