@charset "utf-8";
/* CSS Document */

#header 		{ width: 100%; height: 135px; margin: 0px; }
#header h1 		{ display: none; }
#header .logo	{ background: url("../images/ui_logo.gif"); width: 382px; height: 105px; position: absolute;
				  left: 50%; margin-left: -460px; top: 20px; }

#midsection 	{ margin-top: 20px; }




.blue			{ background: url("../images/ui_blue_background.jpg"); }
.orange			{ background: url("../images/ui_orange_background.jpg");  }

.border-bottom	{ background: url("../images/ui_border_bottom.jpg") repeat-x; height: 15px; }

#najave p		{ margin: 0; padding: 0; border-bottom: 1px solid #ccc; }