@charset "utf-8";
/* CSS Document **************************/

body 			{ font-family: 'Lucida Sans Unicode', Helvetica, "Trebuchet MS", Tahoma, Arial, sans-serif; font-size: 62.5%; padding: 0; }

ul, ol, dl, h1, h2, h3, h4, h5, h6, td, th, caption, pre, p, blockquote, input, textarea 
				{ line-height: 1.6em; font-weight: normal; color: #6C6C6C; text-align: left; }


h1, h2,
h3, h4, h5, h6  { margin: 0; font-family: 'Helvetica Neue', Helvetica, "Trebuchet MS", Tahoma, Arial, sans-serif; font-weight: normal; color: #555; }
h1              { font-size: 2.0em; padding-top: 10px; padding-bottom: 4px; text-transform: uppercase; font-family: Georgia; text-transform: none; color: #cd4b0f; }
h2              { font-size: 1.8em; padding-top: 4px; padding-bottom: 4px; text-transform: uppercase; }
h3              { font-size: 1.6em; padding-top: 4px; padding-bottom: 4px; }
h4              { font-size: 1.4em; padding-top: 4px; padding-bottom: 4px; }
h5              { font-size: 1.2em; padding-top: 4px; padding-bottom: 4px; }
h6              { font-size: 1.0em; padding-top: 4px; padding-bottom: 4px; }

a               { color: #4d83bb; text-decoration: none; }
a:hover         { color: #F70; }
em              { font-style: italic; }
p               { margin: 9px 0 9px 0; font-size: 1.3em;  }
small           { font-size: 80%; }
strong          { font-weight: bold; }

ul, ol          { margin-top: 18px; margin-bottom: 18px; padding-left: 16px; list-style-position: outside; list-style-type: disc; font-size: 1.4em; }
ol              { list-style-type: decimal; padding-left: 17px; }
ul				{ list-style: square; }    
dl              { margin-top: 18px; margin-bottom: 18px; font-size: 1.4em; }
dl dt           { font-weight: bold; font-size: 1.4em; }

blockquote      { border-left: 6px solid #ddd; margin-top: 18px; margin-bottom: 18px; padding-left: 17px; font-style: italic; }
blockquote *    { color: #666; }

textarea        { resize: none; } /* Prevents that little handle from showing up in Safari. */

sup             { font-size: 70%; vertical-align: super; }

.center			{ text-align: center; }

/* Matej Udovičić **************************/

			
body			{ margin: 0px; padding: 0px; text-align: center; }
body > div		{ text-align: left; }
link, script	{ display: none; margin: 0; padding: 0; position: absolute; }

.clear			{ clear: both; }

#header 		{ width: 100%; height: 135px;}
#header h1 		{ display: none; }
#header .logo	{ background: url("../images/ui_logo.gif"); width: 382px; height: 105px; position: absolute;
				  left: 50%; margin-left: -460px; top: 20px; }
				  
.prijava		{ position: absolute; top: 20px; left: 50%; margin-left: 100px; }
				  
#midsection 	{ margin-top: 10px; }

p				{ text-align: justify; }

#menu			{ background: url("../images/ui_menu_background.jpg"); display: block; height: 200px; text-align: left;  }
#menu ul		{  }
#menu li		{ list-style: none; }
#topmenu		{ margin-top: 0px; width: 960px; left: 50%; position: relative; margin-left: -480px; padding-left: 0px; margin-bottom: 0px; }
.topitem		{ display: block; float: left; margin-right: 30px;}
.topitem a		{ color: #fff; font: normal 1.0em/1.3em 'Helvetica Neue', Helvetica, "Trebuchet MS", Tahoma, Arial, sans-serif; text-transform: uppercase;
				  display: block; }
#menu ul li	a:hover	{ color: #f70; }
.li-small		{ width: 110px;}
.li-medium		{ width: 140px; }
.li-big			{ width: 150px;}

#topmenu		{ padding-top: 10px; height: 36px; line-height: 20px; padding: 0px;}
#topmenu li		{ margin-top: 8px; }

ul.submenu		{ padding: 0px; margin-top: 4px; }
ul.submenu li	{ clear: both; background: url("../images/ui_menu_arrow.gif") no-repeat left center; padding-left: 20px;  }
ul.submenu li a {  }

.submenu		{ position: absolute; left: 50%; margin-left: -480px; width: 960px;}
.submenu p		{ color: white; font-size: 13px; }
.submenu		{ font-size: 13px; line-height: 16px; }
.submenu li		{ margin: 0px; }
.submenu li a	{ color: white; font-size: 13px; line-height: 22px; text-shadow: 0.1em 0.1em 0.2em #333; display: block; height: 22px; }
.submenu li a strong	{ font-family: "Tahoma"; text-transform: uppercase; }

.introtext		{ width: 640px; float: left; }
.polaroids		{ width: 300px; height: 164px; background: url("../images/pol_background.jpg"); position: absolute; top: 0px; right: 0px; }
#polaroid1		{ position: relative; top: 0px; left: 0px; width:208px; height: 164px; position: absolute; top: 0px; left: 37px; }
#polaroid2		{ position: relative; top: 0px; left: 0px; width:208px; height: 164px; position: absolute; top: 0px; left: 37px; }

.program img	{ border: 2px solid white; margin-top: 5px; margin-bottom: 5px; }

.sidebar		{ margin-top: 10px; }
.sidebar p		{ text-align: left; font-size: 1.2em; line-height: 1.3em; margin-top: 0px; margin-bottom: 10px; }
.sidebar h2		{ text-transform: none; font-size: 1.7em; color: #cd4b0f; margin-top: 20px; margin-bottom: 5px;  }
.sidebar h3		{ color: #cd4b0f; margin-top: 20px; margin-bottom: 0px; padding-bottom: 0px; margin-bottom: 5px; }

.sidebar ul.sidemenu {  border-bottom: 1px solid #ddd; margin: 5px 5px; }
.sidebar .sidemenu	{ list-style: none; padding: 0; height: auto; }


.sidebar .sidemenu li a	{ display: block; padding: 8px 0px 8px 0px; margin: 0px; font-size: 13px; line-height: 13px; border-top: 1px solid #ddd;}
.sidebar .sidemenu li a:hover { color: black; }

.sidebar .sidesubmenu	{ list-style: none; padding: 0; height: auto; margin: 0px; margin-bottom: 4px; }
.sidebar .sidesubmenu li a	{ font-weight: normal; margin: 0px; padding: 2px 8px; border: none; font-size: 12px; }

.blue			{ background: url("../images/ui_blue_background.jpg"); color: white; }
.orange			{ background: url("../images/ui_orange_background.jpg"); color: white; margin: 0px; }
.orange p		{ font-size: 1.3em; line-height: 1.4em; }
.orange a		{ color: white; text-decoration: underline; }
.orange a:hover	{ color: black; text-decoration: underline; }
.orange h2		{ color: white; font-family: Tahoma, Arial, sans-serif; text-shadow: 0.1em 0.1em 0.2em #333;
				  font-size: 1.3em; font-weight: bold; text-align: center; text-transform: uppercase; margin: 0px;
				  line-height: auto; padding: 0px; letter-spacing: 1px;  }
.orange p				{ color: white; }
.orange form div 		{ margin-top: 15px; vertical-align: center; text-align: center;}
.orange label			{ text-shadow: 0.1em 0.1em #333; font-size: 1.3em; font-weight: bold; text-align: right; text-transform: uppercase; }
.orange input.text		{ margin-top: 5px; width: 90%; }
.orange input			{ color: black; font-weight: bold; text-align: center; }
.orange input.button	{ text-align: right; border: 0px; background-color: transparent; color: white; font-family: Tahoma, Arial, sans-serif; text-shadow: 0.1em 0.1em #333;
				  			font-size: 1.3em; font-weight: bold; text-align: center; text-transform: uppercase; cursor: pointer; }


.path			{ border-top: 2px solid white; background: url("../images/ui_orange_background.jpg");  }
.path p			{ color: white; margin: 0px; padding: 8px 0px; }
.path a			{ text-decoration: none; }
.path a:hover	{ text-decoration: none; }

.border-top		{ height: 15px; background-image: url("../images/ui_border_top.jpg");  }
.border-bottom	{ height: 15px; background-image: url("../images/ui_border_bottom.jpg"); }

#programi 		{ border-top: 2px solid white; margin-left: auto; padding: 16px 0px; }
#programi p		{ line-height: 1.3em; text-align: justify; }

.overlay a		{ text-decoration: none; }
.overlay a:hover { color: #e27d1c; text-decoration: none; }

.footer			{ padding: 16px 0px; }
.whitefooter	{ padding: 20px 0px 30px 0px; color: #999; }

.filelist		{ height: 200px; overflow: scroll; border: 1px solid #ddd; }

.news h1, .news h2, .news h3, .news h4, .news h5, .news h6
				{ font-size: 1.3em;}
				
.intro			{ font-style: italic; border-bottom: 1px solid #ddd; font-family: Georgia; padding: 0px; margin-bottom: 10px; padding-bottom: 10px;}
.intro p		{ margin: 4px 0px; }
.article h1		{  }

.comment	{ border-bottom: 1px solid #bbb; padding-bottom: 10px; margin-bottom: 10px; }

small		{ color: #999; }

.userform label { width: 150px; display: block; float: left; }
.userform span { display: block; height: 22px; margin-bottom: 4px; clear: both; }
.userform .text { width: 300px; border: 1px solid #ddd;}
.userform .text:hover { border: 1px solid #bbb;}
.userform .text:focus { border: 1px solid #bbb; background: #eee; }
.userform textarea { width: 450px; height: 100px; border: 1px solid #ddd;}
.userform textarea:hover { border: 1px solid #bbb;}
.userform textarea:focus { border: 1px solid #bbb; background: #eee; }
.userform .button { width: 100px; border: 1px solid #ddd; text-align: center; }
.userform .button:hover { width: 100px; border: 1px solid #bbb; text-align: center; }